@charset "UTF-8";
body {
    background-color: #B88D8D;	
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		color: #000000;
}
	
a {
	text-decoration: none; 
	color:  #EEEEC8;
}

a:hover{
	color: #00F157;
}
div{ 
background-color:  #929B00;
border-style: solid;
border-color: #76894a;
border-width: 4px;
padding: 10px;
margin-top: 10px;
margin-bottom: 10px;
width: 160px; 
}

.heading{
	background-color: #383CFF;
	border-width: 0px;
	color: #ffffff;
	
}
.menu {
	background-color: #F4F551
}